@{
    ViewData["Title"] = "Home Page";
}

<div style="width: 40%; float:left; padding-right:10px">
   Bugs
   <div class="listview" style="height:auto; min-height:100px; overflow-y:scroll">
      
   </div>
</div>

<div style="width: 60%; float:right">
   Information
</div>

<h1 class="display-4">Welcome</h1>
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


